 .title-areas {
    color: #023d6a;
    font-weight: bold;
    font-size: 16px;
  }
  
  .area-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
  }
  
  .icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background: #761d74;
    color: white;
    transition: background 0.3s ease-in-out;
  }
  
  .icon-circle:hover {
    background: linear-gradient(45deg, #0dc6de, #761d74);
  }
  
  .icon-circle svg {
    color: white;
  }
  
  .selected-circle {
    background: linear-gradient(45deg, #0dc6de, #761d74);
  }
  
  span {
    display: block;
    font-size: 14px;
    color: #761d74;
  }
  
  .text-fin-areas {
    margin-top: 20px;
    font-size: 1rem;
    color: #191f27;
    text-align: center;
  }
  
  /* .configurar-perfil {
    background-color: #edeef1;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */

  .configurar-perfil {
    background-color: #edeef1;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ocupa el 100% del ancho */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra el contenido horizontalmente */
  }
  


  /* .areas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  } */


.areas-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los ítems se ajusten si no caben en una línea */
    justify-content: center; /* Centra los ítems horizontalmente */
    gap: 20px; /* Espaciado entre los ítems */
    width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
  }

  .area-item {
    text-align: center;
    flex: 0 1 auto;
  }
  