.header {
    width: auto;
    height: 120px;
    padding: 36px 196px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(90deg, #761D74 0%, #0DC6DE 100%);
    opacity: 1;
}

.header-logo {
    width: auto;
    height: 100%;
    object-fit: contain;
}
