/* .App {
  text-align: center;
  width: 100%;
} */

.App {
  /* text-align: center;s */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  min-height: 100vh; /* Opcional: Ajustar al alto de la pantalla si se desea */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Ajusta el contenido en columna */
  align-items: center; /* Centra horizontalmente */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title-genera-areas{
  color: #023D6A;
  font-weight: bold;
  /* font-size: 18px; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
}

h1, h2 {
  color: #333;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-guardar-global{
  border-radius: 35px;
  background: linear-gradient(90deg, #761D74 0%, #0DC6DE 100%);
  opacity: 1;
  color: #F8D2EA;
}